@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body {
    align-self: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.Slider ul {
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 300%;
}

.Slider li {
    width: 100%;
    list-style: none;
}

.Slider img {
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

}